/* src/app/article/styles.module.css */

.container {
  max-width: 77.5rem;
  margin: 0 auto;
  padding-bottom: 12.5rem;
  width: 100%;
}

.articleGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3.75rem 0.75rem;
  width: 100%;
}

.skeletonCard {
  flex: 1;
  background: var(--common-white, #fff);
  border-radius: 8px;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.08);
  overflow: hidden;
}
