/* src/app/my/profile/edit/styles.module.css */

.profileEditPageLayout {
  width: 100%;
  max-width: 38.8rem;
  margin: 0 auto;
  padding-bottom: 11.25rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.profileEditPageLayoutHeader {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.profileEditPageLayoutContent {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.profileEditPageLayoutContentItemGroup {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.profileEditPageLayoutContentItem {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.profileEditPageLayoutMarketingAgreement {
  display: flex;
  padding: 1rem 1.5rem;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.5rem;
  background: var(--Neutral-99);
}

.profileEditPageLayoutMarketingAgreementText {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.profileEditPageLayoutMarketingAgreementTextTitle {
  display: flex;
  align-items: center;
  gap: 0.375rem;
}

.profileEditPageLayoutFooter {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
}

.profileEditPageLayoutFooterButton {
  width: 7.5rem;
}
