.deadlineSection {
  background: #000;
  padding: 6.25rem 0;
}

.inner {
  max-width: 77.5rem;
  margin: 0 auto;
}

.empty {
  height: 26.1875rem;
  border-radius: 0.75rem;
  background: var(--Opacity_w_10);
}

.skeletonCard {
  flex: 1;
  background: var(--common-white, #fff);
  border-radius: 8px;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.08);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
