/* 
  작성자 : 김재혁
  최초 작성일 : 2025-08-21
  최종 수정일 : 2025-09-30
*/

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background: none;
}

.header .inner {
  max-width: 1440px;
  margin: 0 auto;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

/* 로고 + Nav메뉴 */
.logoBox {
  display: flex;
  align-items: center;
}

.nav .gnb {
  display: flex;
  gap: 20px;
  vertical-align: middle;
}

.gnb li {
  
}

.gnb li a {
  font-size: 14px;
  font-weight: 500;
  font-style: medium;
  line-height: 140%;
  letter-spacing: -4%;
  
}

.gnb li a:hover {}



/* header - topMenu */
.topMenu {
  display: flex;
  align-items: center;
  gap: 8px;
}

.loginBtn {
  padding: 10px 20px 10px 20px;
  background-color: #fff;
  border-radius: 4px;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: -4%;
}

.signupBtn {
  padding: 10px 16px 10px 16px;
  background-color: #000;
  color: #fff;
  border-radius: 4px;
  font-weight: 500;
  margin-left: 6px;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: -4%;
}


.searchBox {
  width: 340px;
  border-radius: 8px;
  padding: 10px 16px 10px 16px;
  gap: 10px;
  border: 1px solid #dbdbdb;
  background-color: #fff;
}

.searchBox input::placeholder {
  color: #00000066;
  font-weight: 500;
  font-style: medium;
  font-size: 14px;
  letter-spacing: -4%;
}