/* src/components/events/RecommendedEventsEmpty/styles.module.css */

.container {
  /* 스타일 추가 */
  display: flex;
  padding: 6.25rem 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  width: 100%;

  border-radius: 0.75rem;
  border: 1px solid var(--Line-normal);
  background: var(--Neutral-99);
}
