/* src/components/common/Toast/styles.module.css */

.toast {
  width: 42.875rem;
  display: flex;
  width: 42.875rem;
  padding: 1rem;
  gap: 0.75rem;
  position: fixed;
  top: 6rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
  border-radius: 0.5rem;
  background: var(--Common-white);
  box-shadow: 0 8px 40px 0 rgba(0, 0, 0, 0.16);

  animation: slideIn 0.3s ease-out;
  align-items: flex-start;
}

.message {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: -0.05rem;
}

/* 아이콘 래퍼 */
.iconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.closeButton {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.25rem;
  color: #6b7280;
  padding: 0;
  margin-left: auto;
  flex-shrink: 0;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(-50%) translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }
}

@keyframes slideOut {
  from {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }
  to {
    opacity: 0;
    transform: translateX(-50%) translateY(-20px);
  }
}

.slideOut {
  animation: slideOut 0.3s ease-out forwards;
}
